/* Hero Section */
.hero {
  background: url("../assets/HeroBackground.png") center / cover no-repeat;
  color: white;
  text-align: left;
  height: 794px;
}

/* Hero Elements */
.hero-elements {
  padding-left: 73px;
  padding-top: 104px;
}

/* Hero Button */
.hero .hero-elements button {
  background: linear-gradient(180deg, #032E1599 0%, #01663099 100%);
  border-radius: 100px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  cursor: unset;
}

.hero button::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 18px;
  margin-right: 8px;
  background-image: url("../assets/award.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Hero Heading */
.hero h1 {
  text-align: left;
  font-size: 56px;
  color: #032e15;
  margin-bottom: 20px;
  margin-top: 28px;
}

/* Hero Span */
.hero span {
  font-size: 24px;
  margin-bottom: 40px;
  animation: fadeInUp 1.2s ease;
}

/* CTA Button */
.cta-button {
  background: linear-gradient(180deg, #032e15 0%, #016630 100%);
  color: #fff;
  width: 185px;
  padding: 12px 16px;
  border: none;
  border-radius: 100px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
  text-align: center;
}

/* Responsive */
@media (max-width: 1024px) {
  .hero h1 {
    font-size: 42px;
  }

  .hero p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 18px;
  }

  .hero {
    padding: 60px 5%;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 28px;
  }
}
