/* Hero Section */
.hero {
    background: url("../assets/HeroBackground.png") center / cover no-repeat;
    color: white;
    
    text-align: left;
    height: 794px;
}
.hero-elements{
    padding-left: 73px;
    padding-top: 104px;
}
.hero h1 {
    font-size: 56px;
    color: #032E15;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease;
}

.hero span {
    font-size: 24px;
    margin-bottom: 40px;
    animation: fadeInUp 1.2s ease;
    
}

.cta-button {
    background: linear-gradient(180deg, #032E15 0%, #016630 100%);
    color: #fff;
    width: 185px;
    padding: 12px 16px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Responsive */
@media (max-width: 1024px) {
    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 18px;
    }

    .hero {
        padding: 60px 5%;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 28px;
    }
}
